<div class="container">
    <h1 class="mt-1 mb-4">Forgot Password</h1>
    <form action="/forgot-password" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Enter Registered Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary mr-3"> Submit</button>
    </form>
    <hr>
    <p>Go Back To <a href="/signin" style="color: red;">LogIn</a></p>
</div>