<%- include('header') %>

<section class="hero">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h1>Welcome to our Car Site</h1>
              <p>Discover the latest models and find your dream car with us.</p>
              <a href="#" class="btn btn-primary">Explore Cars</a>
          </div>
          <div class="col-lg-6">
              <!-- You can add an image or a carousel here -->
              <!-- Example image: -->
              <img src="https://i.insider.com/605a2b7a106eb50019d052a0?width=700" alt="Car Image" class="img-fluid">
          </div>
      </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer mt-5">
  <div class="container text-center">
      <p>&copy; 2024 Car Site. All rights reserved.</p>
  </div>
</footer>