/* For Body */
body{
    background-color: lightblue;
}

/* For login and signup container */
.container{
    width: 400px;
    height: auto;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 12px;
}

/* For google auth */
.o-auth{
    width: auto;
    height: 40px;
    /* background-color: grey; */
    align-items: center;
    text-align: center;
}

.google{
    padding: 5px;
    background-color: grey;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

